---
BasedOnStyle: LLVM
#BasedOnStyle: Google
#BasedOnStyle: WebKit
Language:        Cpp
AlignConsecutiveDeclarations: true
AlignTrailingComments: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: false
AllowAllParametersOfDeclarationOnNextLine: true
BraceWrapping:
  AfterFunction:   true
BreakBeforeBraces: WebKit
ColumnLimit:     80
IndentCaseLabels: true
IndentWidth:     4
SortIncludes: false
...
